.servicesSection {
  padding: 40px;
  background: linear-gradient(135deg, #01112b 45%, #0a3376 100%);
  
  @media (max-width: 768px) {
    padding: 20px;
  }
}

.header {
  text-align: center;
  margin-bottom: 30px;

  .mainTitle {
    font-size: 36px;
    font-weight: 800;
    color: #ffffff;
    margin: 0;
    
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }
}

.flexWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.serviceCard {
  flex: 1 1 calc(33.333% - 30px);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
  min-width: 350px;

  // Hover Effects
  &:hover {
    transform: translateY(-5px);
    
    // Heading color changes to yellow on hover
    .cardHeading,.cardDesc {
      color: #ffab2e; 
    }
    
    // .iconCircle {
    //   box-shadow: 0 10px 20px rgba(255, 171, 46, 0.4);
    //   animation: rotateIcon 0.5s ease-in-out;
    //   border-color: #ffffff; 
    // }
  }

  @media (max-width: 992px) {
    flex: 1 1 calc(50% - 30px);
  }

  @media (max-width: 600px) {
    flex: 1 1 100%;
  }
}

.iconCircle {
  width: 140px;
  height: 140px;
  background-color: #ffab2e; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
  color: #ffffff;
  transition: all 0.3s ease;
  border: 10px solid transparent; 

  svg {
    font-size: 65px; 
  }
}

.cardHeading {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  transition: color 0.3s ease; // Added for smooth color transition
  
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.cardDesc {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  max-width: 350px;
  margin: 0 auto;
}

@keyframes rotateIcon {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}